/* 
@Filename: common.css
@Author: 최진 (choij2494@gmail.com)
@description: CSS common apply it.
*/

/* 사용자 페이지의 공통으로 적용될 CSS 파일입니다. */
@charset "utf-8";

/* 브라우저 전체 넓이 및 높이 설정 */
.container {
  width: 100%;
  
  font-size: 20px;

  font-family: "Noto Sans KR Bold", sans-serif;
  /* line-height: 1.5; */
  letter-spacing: -0.03em;

  position: relative;
}

/* 최소 높이 */
.min-height {
  min-height: 490px;
}


/* 좌로 정렬 */
.pull-left {
  float: left;
}

/* 우로 정렬 */
.pull-right {
  float: right;
}

/* 마감제 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
  float: none;
}
/* 마진 오토 */
.div-center {
  margin: auto;
}
/* 숨겨진 요소를 보이게 합니다. */
.display-on{
  display: block;
}
/* 보이는 요소를 숨깁니다. */
.display-off{
  display: none;
}

/* 제목의 타이틀에 주는 값입니다. */
.title {
  display: inline-block;
  text-indent: 15px;
  margin-bottom: 20px;
  font-size: 25px;
}
/* 목록의 값이 없을경우 표시할 이미지 박스입니다. */
.not-value-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 200px;
  background-image: url(../img/icon_null.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
/* 공통적으로 들어갈 버튼입니다. */
.btn-common{
  padding:15px 0px;
  background-color: black;
  color: white;
  text-align:center;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid white;
}