/* 
@Filename: main.css
@Author: 임다정 (dazoo0221@gmail.com)
@description: 사용자 Main-page css.
*/


/* 이벤트 배너 영역  */
.swiper-notice{
  margin-top: -20px;
  margin-bottom: 20px;
  height: 180px;
}
.event-box{
  width: 95%;
  height: 100%;
  margin: 30px auto;
}

.event-box img{
  width: 100%;
  height: 100%;
}

/* 컨텐츠 영역 여백 조정 */
.menu-wrap {
  width: 95%;
  height: auto;
  margin: 40px auto;
}

.menu-wrap:first-child {
  margin-top: -40px;
}

/* 카테고리명 설정 */

.menu-title{
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
}

.menu-title::before{
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 30%;
  background-color: #c0c0c0;
}

/* 스위퍼 전체 영역 */
.swiper-container{
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}

/* 스위퍼 페이지 1개 영역 크기 설정 */
.mainMenu{
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* pagination과의 여백*/
  margin-bottom: 15px;
}

/* pagination 하단 이동 */

.swiper-pagination {
  top: auto !important;
 /*  width: 95% !important; */
  justify-content: center !important;
}


/* pagination bar 색 변경 */
.swiper-pagination-progressbar-fill {
  background-color: black !important;
}


/* 이미지가 들어갈 박스 영역 */
.inner-box {
  flex-direction: column;
  display: flex;
  flex: 1;
}

/* 이미지 사이즈 */
.mainMenu img{
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 50%;
  background-color: #f3f4f5;
  flex: 1;
}

/* 메뉴 글자 사이즈 */
.mainMenu span{
  display: block;
  line-height: 35px;
  font-size: 0.7em;
  text-align: center;
  flex: 1;
}


